@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ===================== 
======= VARIABLES ======
======================== */

:root {
    --backgroundColor1: #1F2023;
    --backgroundColor2: #27282D; /*TAMBIEN USADO EN NAVBAR*/
    --backgroundColor3: #19191B;
    --backgroundColor4: #171718;
    --colorFont:#FFFFFF;
    --activeColorFont:#2FD159; /*TAMBIEN USADO EN EL TITULO DE LAS SECCIONES*/
    --buttonColor:#2FD159;
    --whatsappColor:#2FD159;
    
    --mainFont: 'Montserrat', sans-serif;
    --fontWeight: 800;
    --titleSizeD: 64px;
    --titleSizeM: 30px;
    --sectionTitleSizeD: 48px;
    --sectionTitleSizeM: 26px;
    --textSizeD:25px;
    --textSizeM:16px;
    --btnTextSizeD:18px;
    --btnTextSizeM:14px;
    --navTextSizeD:20px;
    --navTextSizeM:22px;
    --navFontWeight:600;

    --servTitleSizeM: 26px;
    --servFontSizeM: 18px;
    --servLiFontSizeM: 15px;

    --servFontSizeD: 28px;
    --servLiFontSizeD: 18px;
}


/* ==================== 
======= GLOBALS ======
=======================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--mainFont);
    text-decoration: none;
}


body {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor1) !important;
    z-index: 0;
    /* !important para sobreescribir estilos de reboot.scss */
}

/* ==================== 
======= Header ======
=======================*/


/* ==================== 
======= NavBar ======
=======================*/

.logo {
    width: 102px;
    height: 34px;
}

.navbar {
    background-color: var(--backgroundColor2);
    box-shadow: 2px 4px 10px #0d0d0d;
    z-index: 1; /* el z-index es para que aparezca el box-shadow */
}

.navInvert {
    flex-direction: row-reverse !important; /* Puse el !important para que tenga en cuenta esto en vez del de bootstrap*/
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    width: 24px !important;
    height: 24px !important;
}

.activeLink > a {
    color: var(--activeColorFont) !important;
}

.nav-item {
    font-size: var(--navTextSizeM);
    font-weight: var(--navFontWeight);
    padding-left: 25px;
    padding-bottom: 39.86px;
}

.navbar-nav {
    padding-top: 30px;
}

.desktopDrop {
    display: none;
}

/* ==================== 
======= Main ======
=======================*/

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


main .title {
    color: var(--activeColorFont);
    font-size: var(--servTitleSizeM);
    font-weight: var(--navFontWeight);
    font-style: normal;
    line-height: 32px;
    width: 100%;
    margin-bottom: 36px;
    height: 32px;
    text-align: center;
}

/* ==================== 
======= card (sections) ======
=======================*/

main .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border: none;
    background-color: var(--backgroundColor2);
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    padding: 40px 0 0;
    margin-bottom: 132px;
}

.card .card--content {
    min-height: 308px;
    width: 280px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--content .card--text {
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    color: #FFF;
    background-color: var(--backgroundColor3);
    padding: 25px 0;
    box-shadow: 4px 4px 10px #0D0D0D;
}

.card--text h2 {
    font-size: var(--servFontSizeM);
    text-align: center;
    line-height: 22px;
    font-weight: var(--navFontWeight);
    margin: 0 20px;
}

.card--text ul {
    margin-top: 10px;
}

.card--text li {
    font-size: var(--servLiFontSizeM);
    font-weight: 400;
    text-indent: -15px;
    list-style: none;
}

.card--content li:before {
    content: "- ";
}

.card--content .card--slider {
    height: 450px;
    width: 280px;    
}

.card--slider .carousel-control-prev,
.card--slider .carousel-control-next {
    height: 300px;
}

.card--content .card--slider .carousel-item {
    height: 300px;
    width: 100%;
}

.card--content .card--button {
    background-color: var(--buttonColor);
    width: 150px;
    height: 36px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    border: none;
    text-align: center;
    border-radius: 10px;
    margin: 23px calc(50% - 75px) 20px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

/* ==================== 
======= Footer ======
=======================*/

footer {
    display: none !important;
}


.footer {
    background-color: var(--backgroundColor2);
    box-shadow: 2px -4px 16px #0d0d0d;
}

.footer-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 14px 21px;
}

.copyright {
    margin: 0;
    color: #c4c4c4;
    font-size: var(--textSizeM);
    font-weight: 500;
}

.footer-brand {
    width: 132px;
    height: 45px;
}

.footer-logo {
    width: 132px;
    height: 45px;
}





/* ==================== 
======= Utilidades ======
=======================*/


.desktop--container {
    display: none;
}

/* ==================== 
======= MediaQueries ======
=======================*/



@media only screen and (min-width: 992px) {
    /* ==================== 
    ======= NavBar ======
    =======================*/
    .logo {
        width: 218px;
        height: 74px;
    }

    .navInvert {
        flex-direction: row !important; /* Puse el !important para que tenga en cuenta esto en vez del de bootstrap*/
        justify-content: space-between !important;
    }

    .navbar {
        padding: 0 !important;
        box-shadow: 2px 4px 10px #0d0d0d;
    }
    .navbar-brand {
        align-self: center;
    }

    .navbar-nav {
        padding: 0;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        height: inherit;
        gap: 63px;
    }
    .nav-item {
        padding: 0;
        height: inherit;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        box-sizing: border-box;
        border-bottom: 6px solid var(--backgroundColor2);
    }

    .inicio {
        display: none;
    }

    .activeLink {
        border-bottom: 6px solid var(--activeColorFont);
    }
    .activeLink > a {
        color: var(--activeColorFont) !important;
    }
    #navbarSupportedContent {
        height: 95px !important;
        justify-content: flex-end !important;
        align-items: flex-end;
        padding-right: 62px;
    }

    .mobileDrop {
        display: none;
    }

    .desktopDrop {
        display: flex;
    }

    .dropdown-menu {
        background-color: var(--backgroundColor1) !important;
    }

    .dropdown-menu li {
        width: 87%;
        margin-left: 37px;
    }
    .dropdown-menu li a:hover {
        background-color: #2fd159;
    }

    .dropdown-item {
        color: var(--colorFont) !important;
        font-size: var(--navTextSizeD);
        padding: 25px 37px 25px 0 !important;
        border-bottom: 0.5px solid #c4c4c4 !important;
    }

    #lastDrop {
        border: none !important;
    }

    



    /* ===== desktop images ===== */


    main .card {

        /* borrar luego */
        margin-top: 130px;
        z-index: 0;
        width: 100%;
        max-width: 1080px;
        height: 610px;
        padding: 75px 25px;
    }

    .card .card--content {
        flex-direction: row;
        width: 100%;
        max-width: none;
    }

    .card--content .card--text {
        width: 418px;
        height: 470px;
        z-index: 1;
        position: relative;
        padding: 40px 110px 40px 40px;
    }



    .card--text h2 {
        font-size: var(--servFontSizeD);
        line-height: 34px;
        text-align: left;
        font-weight: var(--navFontWeight);
        margin: 0;
    }

    .card--text ul {
        margin-top: 10px;
        padding-left: 15px;
    }

    .card--text li {
        font-size: var(--servLiFontSizeD);
        font-weight: 400;
        text-indent: -15px;
        list-style: none;
    }




    .card--slider, .title {
        display: none;
    }

    .desktop--container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 2;
        position: absolute;
        left: 340px;
        top: 140px;
    }

    .img--container {
        width: auto;
        display: flex;
        gap: 21px;
    }


    .img--sim {
        height: 320px;
        width: 190px;
        background-color: red;
    }

    .card--content .card--button {
        height: 48px;
        width: 200px;
        margin: 19px 0 0;
        align-self: flex-end;
        font-size: var(--btnTextSizeD);
        font-weight: 700;
    }

}

@media only screen and (min-width: 1080px) {
    .desktop--container {
        left: 410px;
    }
}